.whole-navbar{
    color:blue;
    display:flex;
    justify-content: space-between;
    background-color: yellow;
    height: 4rem;

}
.lists{
    display: flex;
    
    list-style-type: none;
}
li{
    padding:15px;
}
.logo{
    padding-top:1.5rem;
}

